@font-face {
    font-family: 'lato';
    src: local('Lato'),
         url('../fonts/Lato-Regular.ttf') format("truetype");
  }
*, button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:lato;
    letter-spacing: 0px;
    border:0;
    outline:0;
    transition:.3s;
}
button{
    cursor:pointer;
}
*::selection{
    color:#FF7A00;
}
:root{
    --primary_color:#55A2FF;
    --secondary_color:#3DC47E;
    --footer_color:#88A7B9;
    --base_color:#9D9D9D;
    --notification_color:#FF2E00;
}
ul, ol{
    list-style: none;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: rgba(212, 226, 134, 0.3);
}
::-webkit-scrollbar-thumb{
    background: rgba(56, 64, 169, 0.229);
    border-radius: 3px;
}

/*BASE CSS*/
.wrapper {
    width: 100%;
    height: auto;
    min-height: 100vh;
}
/*HEADER*/
.header { 
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-top, .header-tabs, .header-mid, .header-top-main{ 
    display: flex;
    width: 100%;
}
.header-top{
    padding: 28px 4.7vw;
    gap:80px
}
/*top*/
.header-top-main{
    gap:40px;
    flex:0 0 38.20vw;
    align-items: center;
}
    /*top-main*/
    .header-top-main-search input{
        width: 23.95vw;
        height: 40px;
    }
    .header-top-main-logo{
        display: flex;
        align-items: center;
        gap:8px;
    }

.header-top-links{
    display: flex;
    flex:1 1 auto;
    align-items: center;
}
    /*top-links*/
    .header-top-links p{
        width: 6.6vw;
    }

.header-top-socialmedia{
    display: flex;
    flex:0 0 80px;
    justify-content: space-between;
    align-items: center;
}


.header-mid{
    display: flex;
    background: #000;
    padding: 8px 4.7vw;
    justify-content: space-between;
}
.header-mid-settings, .header-mid-account, .header-mid-addvertisment{
    display: flex;
    align-items: center;
}
.header-mid-settings{
    gap:12px;
}
    /*mid-settings*/
    .header-mid-settings select{
        background: transparent;
        outline: none;
        border:none;
        width: 66px;
    }
    .header-mid-settings p{
        display: flex;
        align-items: center;
        gap:5px;
    }

.header-mid-addvertisment{
    border-left: 1px solid #7B7B7B;
    border-right: 1px solid #7B7B7B;
    padding: 0px 3.9vw;
}
    /*mid-addvertisment*/
    .header-mid-addvertisment-block{
        display: flex;
        gap:10px;
        align-items: center;
    }
    .header-mid-addvertisment-block div{
        display: flex;
        flex-direction: column;
   }

.header-mid-account{
    gap:20px;
}
    /*mid-account*/
    .header-mid-account p{
        display: flex;
        align-items: center;
        gap:4px;
        width: 100px;
    }
    .header-mid-account p.card::after{
        content:"4";
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: #3DC47E;
        text-align: center;
        color:#FFFFFF;
        padding-top:2px;
        box-sizing: border-box;
    }

.header-tabs{
    height: 80px;
}
/*MAIN*/
.main{
    width: 100%;
    display:flex;
    flex:1 1 100%;
    flex-direction: column;
    gap:68px;
}
/*FOOTER*/
.footer{
    margin-top: 40px;
}