{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--DECS = DESCRIPTION-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/text.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/auto_fill.js' %}" defer></script>
    {% block links%}
    
    {% endblock links%}
    <title>Document</title>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="header-top">
            <div class="header-top-main">
                <div class="header-top-main-logo bold primary-text fs32">
                    <img src="{% static 'media/logo.png' %}" alt="logo pic"><span>Svinarnik</span>
                </div>
                <div class="header-top-main-search">
                    <input type="text" placeholder="SEARCH FIELD(SOON)">
                </div>
            </div>
            <div class="header-top-links regular secondary-text fs14">
                <p>About Us</p>
                <p>Blog</p>
                <p>Contact Us</p>
                <p>Help&Support</p>
            </div>
            <div class="header-top-socialmedia">
                <a href=""><img src="{% static 'media/icons/instagram.png' %}" alt=""></a>
                <a href=""><img src="{% static 'media/icons/facebook.png' %}" alt=""></a>
                <a href=""><img src="{% static 'media/icons/telegram.png' %}" alt=""></a>
            </div>
        </div>
        <div class="header-mid">
            <div class="header-mid-settings fs20 bold dark-primary primary-text">
                <p><img src="{% static 'media/icons/categories.png' %}" alt="">Categories</p>
                <select class="fs12 regular dark-secondary secondary-text" name="currency" id="">
                    <option value="USD">USD</option>
                    <option value="UAH">UAH</option>
                    <option value="EUR">EUR</option>
                    <option value="PLN">PLN</option>
                    <option value="GBP">GBP</option>
                    <option value="JPY">JPY</option>
                </select>
                <select class="fs12 regular dark-secondary secondary-text" name="language" id="">
                    <option value="ENG">English</option>
                    <option value="UKR">Ukrainian</option>
                </select>
            </div>
            <div class="header-mid-addvertisment">
                <div class="header-mid-addvertisment-block">
                    <img src="{% static 'media/example_add_header.png' %}" alt="">
                    <div>
                        <p class="fs12 bold dark-primary primary-text">
                            Weekly Men's Toiletries Coupons
                        </p>
                        <p class="fs12 regular dark-secondary secondary-text">
                            We extend exclusive discounts to our male clientele
                        </p>
                    </div>
                </div>
            </div>
            <div class="header-mid-account fs14 regular">
                <a href="" class="dark-secondary secondary-text"><p><img src="{% static 'media/icons/Signin.png' %}" alt="">Sign In</p></a>
                <a href="" class="dark-secondary secondary-text"><p><img src="{% static 'media/icons/Favorides.png' %}" alt="">Favorites</p></a>
                <a href="" class="dark-secondary secondary-text"><p class="card"><img src="{% static 'media/icons/Card.png' %}" alt="">Card</p></a>
            </div>
        </div>
        <div class="header-tabs">
            {% block header-tabs %}

            {% endblock header-tabs %}
        </div>
    </div>
    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>   
    <div class="footer">
 <h1>h1 ТУТ БУДЕ ФУУУУУУУТЕР</h1>
    </div>    
</div>      
</body>
</html>