{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--DECS = DESCRIPTION-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header-main">
                <div class="header-main_top">
                    <div class="header-main_top_item"><p>Svinarnik</p></div>
                    <div class="header-main_top_item"><span><input type="text" placeholder="Search Product"></span></div>
                    <div class="header-main_top_item">
                        <div>
                            <a href="">About us</a>
                            <a href="">Blog</a>
                        </div>
                        <div>
                            <a href="">Contact us</a>
                            <a href="">Help & support</a>
                        </div>
                    </div>
                    <div class="header-main_top_item">
                        <a href="">ISNT</a>
                        <a href="">FACE</a>
                        <a href="">TELG</a>
                    </div>
                </div>
                <div class="header-main_down">
                    <div class="header-main_down_item">
                        <div class="header-main_down_item_categories">
                            Categories
                        </div>
                    </div>
                    <div class="header-main_down_item">
                        <div class="header-main_down_item_site_settings">
                            <div>
                                USD
                            </div>
                            <div>
                                English
                            </div>
                        </div>
                    </div>
                    <div class="header-main_down_item">
                        <div class="header-main_down_item_weekly_best">
                            <div>
                                <img src="" alt="some image">
                            </div>
                            <div>
                                <p>Weekly Men's Toiletries Coupons.</p>
                                <p>We extend exclusive discounts to our male clientele</p>
                            </div>
                        </div>
                    </div>
                    <div class="header-main_down_item">
                        <div class="header-main_down_item_buttons">
                            <div>Sing In</div>
                            <div>Favorites</div>
                            <div>Card</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-menu">
                <nav class="header-menu_item_holder">
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                    <a href="" class="header-menu_item_holder_item">Cringe</a>
                </nav>
            </div>
        </header>
        <main></main>
        <footer>
            <div class="footer-subscription">
                <p class="footer-subscription_title">Svinarnik Store</p>
                <p class="footer-subscription_decs">Register your email not to miss the last minutes off+ Free delivery</p>
                <p class="footer-subscription_form"><input type="text" placeholder="Enter your email"></p>
            </div>
            <div class="footer-top">
                <div class="footer-top_item_holder">
                    <p class="footer-top_item_holder_topic">Viktor Lox</p>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                </div>
                <div class="footer-top_item_holder">
                    <p class="footer-top_item_holder_topic">Vlastelin kishko Divok</p>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                </div>
                <div class="footer-top_item_holder">
                    <p class="footer-top_item_holder_topic">Harry Spotter</p>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                </div>
                <div class="footer-top_item_holder">
                    <p class="footer-top_item_holder_topic">Illya tozhe Lox</p>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                    <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom_top">
                    <div class="footer-bottom_top_payment_processing_method">
                        <a href="">MASTERCARD</a>
                        <a href="">PAYPAL</a>
                        <a href="">VISA</a>
                    </div>
                    <div class="footer-bottom_top_coose_language">English</div>
                </div>
                <div class="footer-bottom_bottom">
                    <p class="footer-bottom_bottom_adress">165-179 Forster Road City of Monash, Melbourne, Australia</p>
                    <p class="footer-bottom_bottom_copyright">©2023 Copyright in reserved for lumine shop</p>
                    <p class="footer-bottom_bottom_social_media">
                        <a href="">ISNT</a>
                        <a href="">FACE</a>
                        <a href="">TELG</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>