{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-main">
            <div class="header-main_top">
                <div class="header-main_top_item"></div>
                <div class="header-main_top_item"></div>
                <div class="header-main_top_item"></div>
                <div class="header-main_top_item"></div>
            </div>
            <div class="header-main_down">
                <div class="header-nain_down_item"></div>
                <div class="header-nain_down_item"></div>
                <div class="header-nain_down_item"></div>
                <div class="header-nain_down_item"></div>
            </div>
        </div>
        <div class="header-menu">
            <nav class="header-menu_item_holder">
                <a href="" class="header-menu_item_holder_item">Cringe</a>
                <a href="" class="header-menu_item_holder_item">Cringe</a>
                <a href="" class="header-menu_item_holder_item">Cringe</a>
                <a href="" class="header-menu_item_holder_item">Cringe</a>
                <a href="" class="header-menu_item_holder_item">Cringe</a>
                <a href="" class="header-menu_item_holder_item">Cringe</a>
                <a href="" class="header-menu_item_holder_item">Cringe</a>
                <a href="" class="header-menu_item_holder_item">Cringe</a>
                <a href="" class="header-menu_item_holder_item">Cringe</a>
                <a href="" class="header-menu_item_holder_item">Cringe</a>
            </nav>
        </div>
    </header>
    <main></main>
    <footer>
        <div class="footer-subscription"></div>
        <div class="footer-top">
            <div class="footer-top_item_holder">
                <p class="footer-top_item_holder_topic">Viktor Lox</p>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
            </div>
            <div class="footer-top_item_holder">
                <p class="footer-top_item_holder_topic">Vlastelin kishko Divok</p>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
            </div>
            <div class="footer-top_item_holder">
                <p class="footer-top_item_holder_topic">Harry Spotter</p>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
            </div>
            <div class="footer-top_item_holder">
                <p class="footer-top_item_holder_topic">Illya tozhe Lox</p>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
                <a href="" class="footer-top_item_holder_link">RocketLeague</a>
            </div>
        </div>
        <div class="footer-bottom"></div>
    </footer>
</body>
</html>