{% extends "store/base.html" %}
{% load static%}
{% block links%}
<link rel="stylesheet" type="text/css" href="{% static "style/landing.css" %}">
{% endblock links%}
{% block content %}
<div class="main-addvertisment">
    <div class="main-addvertisment-photo" style="background: url({% static 'media/photoleft.png' %}) no-repeat;background-size:cover;"></div>
    <div class="main-addvertisment-offer">
        <div>
            <p class="fs32 uppercase bold white">
                Kimonos, Caftans & Pareos
            </p>
            <p class="fs28 medium white">
                Poolside glam included From $4.99
            </p>
            <button class="blue_shopnow"><img src="{% static 'media/icons/shopnow.png' %}" alt=""><p class="fs14 medium uppercase white ">Shop now</p></button>
        </div>
    </div>
</div>


<div class="flash_sales category">
    <div class="flash_sales--top">
        <div class="fs28 medium primary-text">
            Flash Sales
        </div>

        <div class="flash_sales-top fs12 regular primary-text">
            <a href="">View all ></a>
        </div>
    </div>
    <div class="flash_sales--items">
        <div class="flash_sales_item">
            <div class="time_remains">
                <p class="fs18 extra_bold tritary-text">Deal of the Day</p>
                <p class="timer fs18 extra_bold primary-text">

                    <span>05</span>:<span>12</span>:<span>42</span>

                </p>
            </div>
            <div class="photo">
                <img src="{% static 'media/photo_bag.png'%}" alt="photo of product">
            </div>
            <div class="description fs12 regular">
                <p class="item_name fs18 extra_bold">Viktor Kubovich</p>
                <p class="item_category_name secondary-text">Womans panties</p>
                <p class="item_rating secondary-text">* * * * (54)</p>
                <p class="price secondary-text"><span class="previous_price fs14 bold">$160</span> $124 <span class="discount fs8 semi_bold"> - 40%</span></p>
            </div>
        </div>
        <div class="flash_sales_item">
            <div class="time_remains">
                <p class="fs18 extra_bold tritary-text">Deal of the Day</p>
                <p class="timer fs18 extra_bold primary-text">

                    <span>05</span>:<span>12</span>:<span>42</span>

                </p>
            </div>
            <div class="photo">
                <img src="{% static 'media/photo_bag.png'%}" alt="photo of product">
            </div>
            <div class="description fs12 regular">
                <p class="item_name fs18 extra_bold">Viktor Kubovich</p>
                <p class="item_category_name secondary-text">Womans panties</p>
                <p class="item_rating secondary-text">* * * * (54)</p>
                <p class="price secondary-text"><span class="previous_price fs14 bold">$160</span> $124 <span class="discount fs8 semi_bold"> - 40%</span></p>
            </div>
        </div>
        <div class="flash_sales_item">
            <div class="time_remains">
                <p class="fs18 extra_bold tritary-text">Deal of the Day</p>
                <p class="timer fs18 extra_bold primary-text">

                    <span>05</span>:<span>12</span>:<span>42</span>

                </p>
            </div>
            <div class="photo">
                <img src="{% static 'media/photo_bag.png'%}" alt="photo of product">
            </div>
            <div class="description fs12 regular">
                <p class="item_name fs18 extra_bold">Viktor Kubovich</p>
                <p class="item_category_name secondary-text">Womans panties</p>
                <p class="item_rating secondary-text">* * * * (54)</p>
                <p class="price secondary-text"><span class="previous_price fs14 bold">$160</span> $124 <span class="discount fs8 semi_bold"> - 40%</span></p>
            </div>
        </div>
        <div class="flash_sales_item">
            <div class="time_remains">
                <p class="fs18 extra_bold tritary-text">Deal of the Day</p>
                <p class="timer fs18 extra_bold primary-text">

                    <span>05</span>:<span>12</span>:<span>42</span>

                </p>
            </div>
            <div class="photo">
                <img src="{% static 'media/photo_bag.png'%}" alt="photo of product">
            </div>
            <div class="description fs12 regular">
                <p class="item_name fs18 extra_bold">Viktor Kubovich</p>
                <p class="item_category_name secondary-text">Womans panties</p>
                <p class="item_rating secondary-text">* * * * (54)</p>
                <p class="price secondary-text"><span class="previous_price fs14 bold">$160</span> $124 <span class="discount fs8 semi_bold"> - 40%</span></p>
            </div>
        </div>
        <div class="flash_sales_item">
            <div class="time_remains">
                <p class="fs18 extra_bold tritary-text">Deal of the Day</p>
                <p class="timer fs18 extra_bold primary-text">

                    <span>05</span>:<span>12</span>:<span>42</span>

                </p>
            </div>
            <div class="photo">
                <img src="{% static 'media/photo_bag.png'%}" alt="photo of product">
            </div>
            <div class="description fs12 regular">
                <p class="item_name fs18 extra_bold">Viktor Kubovich</p>
                <p class="item_category_name secondary-text">Womans panties</p>
                <p class="item_rating secondary-text">* * * * (54)</p>
                <p class="price secondary-text"><span class="previous_price fs14 bold">$160</span> $124 <span class="discount fs8 semi_bold"> - 40%</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}